extends layout

block content
  .nav
    a(href="/new-article") Post a new article
    a(href="/") Home
  .pageBanner
    a(href="/") 
      h3 #{pageTitle}
  .content
    h1 Edit this article
    form(method="post" action="/article/" +  theArticle._id)
      .field
        .left
          label(for="title") Title 
        .right
          input(type="text" name="title" id="title" value=theArticle.title)
      .field
        .left
          label(for="url") Background Url 
        .right
          input(type="text" name="url" id="url" value=theArticle.url)
      .field
        .checkbox
          input(type="checkbox" name="dark" id="dark" checked=theArticle.dark)
          label(for="dark") Background image has dark colors
      .field
        .left
          label(for="excerpt") Excerpt
        .right
          textarea(name="excerpt" id="excerpt" rows="10" cols="50") #{theArticle.excerpt}
      .field
        .left
          label(for="body") Body
        .right
          textarea(name="body" id="body" rows="10" cols="50") #{theArticle.body}
      .field
        input(type="submit" value="Update Article")
    form(method="post" action="/delete/" + theArticle._id)
      .field
        input(type="submit" id="delete" name="delete" value="Delete this article")
    div
      if errors
        p Please correct the errors below:
        for each in errors
          p.errormsg= each
