extends layout

block content
  .nav
    a(href="/new-article") Post a new article
    a(href="/") Home
  .pageBanner
    a(href="/") 
      h3 #{pageTitle}
  for article in allArticles
    .content
      if article.url
        .banner(style="background-image: url(" + article.url + ")")
          if article.dark === "on"
            a(href="/article/" + article._id)
              h5(style="color: white") #{article.title}
          else
            a(href="/article/" + article._id)
              h5(style="color: black") #{article.title}      
      else
        .banner(style="background-color: silver")
          if article.dark === "on"
            a(href="/article/" + article._id)
              h5(style="color: white") #{article.title}
          else
            a(href="/article/" + article._id)
              h5(style="color: black") #{article.title}      
      .tile
        p= article.excerpt
