extends layout

block content
  .nav
    a(href="/new-article") Post a new article
    a(href="/") Home
  .pageBanner
    a(href="/") 
      h3 #{pageTitle}
  .content
    h1 Post a new article
    .errormsg
      if errors
        p Please correct the errors below:
        for each in errors
          p= each
    form(method="post" action="/new-article")
      .field
        .left
          label(for="title") Title 
        .right
          input(type="text" name="title" id="title" value=title)
      .field
        .left
          label(for="url") Background Url 
        .right
          input(type="text" name="url" id="url" value=url)
      .field
        .checkbox
          .left
            input(type="checkbox" name="dark" id="dark" value=dark)
            label(for="dark") Background image has dark colors
      .field
        .left
          label(for="excerpt") Excerpt
        .right
          textarea(name="excerpt" id="excerpt" rows="10" cols="50") #{excerpt}
      .field
        .left
          label(for="body") Body
        .right
          textarea(name="body" id="body" rows="10" cols="50") #{body}
      .field
        .button
          input(type="submit" name="submit" id="submit" value="Add Article")
