extends layout

block content
  .pageBanner
    a(href="/") 
      h3 #{pageTitle}
  .content
    if theArticle.url
      .banner(style="background-image: url(" + theArticle.url + ")")
        if theArticle.dark === "on"
          h5(style="color: white") #{theArticle.title}
          a#edit(href="/article/" + theArticle._id + "/edit")
            h5(style="color: white") Edit
        else
          h5(style="color: black") #{theArticle.title}
          a#edit(href="/article/" + theArticle._id + "/edit")
            h5 Edit
    else
      .banner(style="background-color: silver")
        if theArticle.dark === "on"
          h5(style="color: white") #{theArticle.title}
          a#edit(href="/article/" + theArticle._id + "/edit")
            h5(style="color: white") Edit
        else
          h5(style="color: black") #{theArticle.title}
          a#edit(href="/article/" + theArticle._id + "/edit")
            h5 Edit
    .tile
      p= theArticle.body

    
